/*Start Main Rules*/ 

.container{ width: 1170px; margin: auto}

/*End Start Main Rules*/

/*Start Header*/

.header .slider{
    background-image: url(../images/header/individual-software.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 630px
}

.header .slider .intro{ padding-top: 200px; color: #FFF}

.header .slider .intro h2{
    color: #FFF;
    margin: 0 auto;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    width: 600px;
    font-size: 45px;
    padding: 5px 0
}

.header .slider .intro button{
    border: 3px solid #FFF;
    margin-top: 40px;
    width: 155px;
    padding: 10px 10px;
    color: #FFF
}

.header .navbar{ background-color: #252F31; color: #FFF}

.header .navbar h2{color: #FFF}

.header .navbar h2 span{color: #2ecc71}

.header .navbar ul{list-style-type: none; padding-left: 0; float: right}

.header .navbar ul li{float: left; padding: 10px; text-transform: capitalize}

.header .navbar ul li a{
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase
}

.header .navbar ul li a:hover,
.header .navbar ul li.active a{color: #2ecc71;} 

/*End Header*/

/*Start Features*/

.features{padding: 30px}

.features .feat{width: 33.33333%}

.features .feat p{padding-right}
    
/*End Features*/

/*Start About Me*/

.about-me{background-color: #F2F2F2}

.about-me .image{width: 40%}

.about-me .image img{width: 100%}

.about-me .info{width: 60%}

.about-me .info h2{margin: 40px 0 20px 40px}

.about-me .info > p{margin: 0 0 10px 40px}

.about-me .info > p:last-of-type{margin-top: 30px; margin-bottom: 20px}

.about-me .info .hobbies{margin: 20px 0 0 40px}

.about-me .info .content{width: 50%}

.about-me .info .content .icons{width: 10%; margin-bottom: 10px; margin-right: 5%}

.about-me .info .content .icons img{max-width: 100%; margin: 50px 10px 0 0}  

.about-me .info .content .text{width: 85%} 

.about-me .info .content .text h3{margin-bottom: 5px}

.about-me .info .content .text p{margin-top: 0; margin-right: 50px; text-align: justify}

/*Start my-skills*/

.my-skills{padding-top: 15px; padding-bottom: 15px}

.my-skills .skills{width: 50%}

.my-skills .skills h2{margin: 40px 0 20px 40px}

.my-skills .skills p{margin: 20px 0 20px 40px}

.my-skills .skills button{width:200px; margin: 20px 0 20px 40px}

.my-skills .progress{width: 50%}

.my-skills .progress .technique{margin: 60px 0 20px 50px}

.my-skills .progress .technique div{background-color: #F2F2F2; height: 25px}

.my-skills .progress .technique span{
    color: #FFF;
    background-color: #2DCC70;
    height: 25px;
    line-height: 25px;
    text-align: right;
    font-weight: bold
}

/*End my-skills*/

/*Start resume*/

.resume{padding-top: 15px; padding-bottom: 15px; background-color: #F2F2F2}

.resume button{width: 270px; margin: 20px 0 20px 0}

/*End resume*/

/*Start My-Educations*/

.my-educations{padding-top: 15px; padding-bottom: 15px}

.my-educations .educations{width: 50%}

.my-educations .educations h2{margin: 20px 0 20px 40px}

.my-educations .educations p{margin: 20px 0 20px 40px}

.my-educations .educations p:first-of-type{margin-bottom: 25px}

.my-educations .exp{width: 50%}

.my-educations .exp .certificates{margin: 60px 0 20px 40px}

.my-educations .exp .certificates span:first-of-type{color: #999; text-transform: capitalize}

.my-educations .exp .certificates span:last-of-type{
    border: none;
    background: #2dcc70;
    padding: 4px 10px;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px
}

.my-educations .exp .certificates hr{border: 0.5px solid #999}

.my-educations .exp .certificates p:first-of-type{margin-bottom: 80px}

.my-educations .exp .certificates p:last-of-type{margin-bottom: 60px}

/*End My-Educations*/

/*Start Work Experience*/

.work-experience{padding-top: 15px; padding-bottom: 15px}

.work-experience hr{border: 0.5px solid #999}

.work-experience .main{width: 50%} 

.work-experience .main h2{margin: 20px 0 20px 40px}

.work-experience .main p{margin: 20px 0 20px 40px}

.work-experience .main p:first-of-type{margin-bottom: 25px}

.work-experience .description{width: 50%}

.work-experience .description .sub-description{margin: 60px 0 20px 40px}

.work-experience .description .sub-description span:first-of-type{color: #999; text-transform: capitalize}

.work-experience .description .sub-description span:last-of-type{
    border: none;
    background: #2dcc70;
    padding: 4px 10px;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px
}

.work-experience .description .sub-description hr{border: 0.5px solid #999}

.work-experience .description .sub-description p:last-of-type{margin-bottom: 80px}

/*End Work Experience*/

/*Start Testimonials*/

.testimonial{background-color: #f2f2f2; padding-top: 50px; padding-bottom: 50px}

.testimonial q{color: #888; font: italic  18px/1.7 Arial , Tahoma}

.testimonial h3{margin-bottom: 20px}

.testimonial ul{list-style-type: none; padding: 0}

.testimonial ul li{
    border: 1px solid #2ddc70;
    display: inline-block;
    width: 15px;
    height: 15px
}

.testimonial ul li:hover{background-color: #2ddc70; cursor: pointer}

.testimonial ul li.active{background-color: #2ddc70}

/*End Testimonials*/

/*Start Portfolio*/

.portfolio{padding-top: 50px; padding-bottom: 70px}

.portfolio h2{margin-bottom: 30px}

.portfolio p{margin-bottom: 40px}

.portfolio .our-work > div{float: left; width: 33.333333%;margin-bottom: 15px}

.portfolio .our-work > div img{
    width: 93%;
    border: 1px solid #CCC;
    background-color: #FFF;
    margin: 10px;
    padding: 5px
}

.portfolio .our-work > div img:hover{box-shadow: 10px 10px 10px #CCC}

/*End Portfolio*/

/*Start Contact*/

.contact{background-color: #252F31; padding-top: 50px; padding-bottom: 70px}

.contact .info{width: 50%; margin-right: 5%}

.contact .info h2{color: #FFF; margin: 20px 0 20px 40px}

.contact .info p{color: #6A6E71; margin: 20px 0 20px 40px}

.contact .info address{margin: 20px 0 20px 40px; color: #6A6E71}

.contact .info p strong{color: #D1D6DA; text-transform: capitalize}

.contact .form{width: 45%}

.contact .form label{
    color: #D1D6DA;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px
}

.contact .form input[type="text"], .contact .form input[type="email"]{
    background-color: #4B5557;
    color: #FFF;
    margin-bottom: 10px;
    border: none;
    width: 70%;
    padding: 10px
}

.contact .form textarea{
    border: none;
    background-color: #4B5557;
    color: #FFF;
    width: 70%;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px
}

.contact .form input[type="submit"]{
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    width: 90px;
    border: none;
    margin-top: 10px;
    text-transform: capitalize
}

/*End Contact*/

/*Start Footer*/

.footer{background-color: #191e22; color: #6a6e71; padding: 20px 0}

.footer span{text-transform: capitalize}

.footer ul{list-style-type: none; padding-left: 0; margin: 0}

.footer ul li{display: inline-block; margin-top: 15px}

.footer ul li img{width: 100%}

/*End Footer*/

/*Start My Framework*/

.fl-left{float: left}

.overflow{overflow: hidden}

.d-block{display: block}

.d-inline-block{display: inline-block}

p{color: #888; line-height: 1.5}

h2{color: #555; text-transform: uppercase; font-size: 22px}

h3{
    color: #555;
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase
}

.bttn{
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase
}

.txt-center{text-align: center}

/*End My Framework*/















